# Python bytecode
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
dist/
build/
*.zip
*.egg-info/
*.eggs/
*.manifest
*.spec

# VS Code settings (individual developers only)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs & temp files
*.log
*.tmp
*.bak
*.swp


# pixi environments
.pixi/*
!.pixi/config.toml